.start-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.start-page-button-container {
  width: 40%;
  height: 60%;
  max-height: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
